.pe
  = form_for @post do |f|
    .pe__edit
      %p.pe__edit__form
        Edit Note
      .pe__special 
        .text-input
          = f.text_field :content, placeholder: "Ex) https://www.youtube.com/watch?v=xxx", size: "30", class: "pe__edit__url"
          %label{:for => "input1"} YouTube URL
      = f.text_area :title, placeholder: "Title", rows: "1", class: "pe__edit__title"
      = f.text_area :text, placeholder: "Memo", rows: "10", class: "pe__edit__memo"
      .pe__edit__detail
        .pe__edit__time
          %p
            Please enter start times of video to playback
          %input#num0{:onfocus => "number()", :onkeyup => "number()", :size => "3", :type => "text", :value => "#{@post.start / 60}"}:
          %input#num1{:onfocus => "number()", :onkeyup => "number()", :size => "3", :type => "text", :value => "#{@post.start % 60}"}: 〜
          %input#start{:name => "post[start]", :type => "hidden", :value => "#{@post.start}"}
        .pe__edit__radio
          %p
            3-Star Rating
          %p.pe__edit__technology
            - if @post.radio == "★★★"
              %p
                %input#male{:name => "post[radio]", :type => "radio", :value => "★★★", checked: true}
                %label{:for => "technology"} ★★★
            - else
              %p
                %input#male{:name => "post[radio]", :type => "radio", :value => "★★★"}
                %label{:for => "technology"} ★★★
          %p.pe__edit__english
            - if @post.radio == "★★"
              %p
                %input#female{:name => "post[radio]", :type => "radio", :value => "★★", checked: true}
                %label{:for => "english"} ★★
            - else
              %p
                %input#female{:name => "post[radio]", :type => "radio", :value => "★★"}
                %label{:for => "english"} ★★
          %p.pe__edit__music
            - if @post.radio == "★"
              %p
                %input#female{:name => "post[radio]", :type => "radio", :value => "★", checked: true}
                %label{:for => "music"} ★
            - else
              %p
                %input#female{:name => "post[radio]", :type => "radio", :value => "★"}
                %label{:for => "music"} ★  
      .pe__edit__send
        = f.submit "Submit"